// bower:scss
// endbower

//icomoon
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
    font-family: "llb";
    src:url("../fonts/llb.eot");
    src:url("../fonts/llb.eot?#iefix") format("embedded-opentype"),
        url("../fonts/llb.woff") format("woff"),
        url("../fonts/llb.ttf") format("truetype"),
        url("../fonts/llb.svg#lineto-brown-regular") format("svg");
    font-weight: normal;
    font-style: normal;
}



.icon-facebook:before {
  content: "\e600";
}
.icon-kickstarter:before {
  content: "\e601";
}
.icon-logo:before {
  content: "\e602";
}
.icon-playbutton:before {
  content: "\e603";
}
.icon-twitter:before {
  content: "\e604";
}


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Global
* { margin: 0; padding: 0; -webkit-font-smoothing: antialiased; }
.hide { display: none !important; }

::selection { background: #ccc; } 

$subhead: 12px/12px "llb", Helvetica, sans-serif;

$nav-type: 12px/12px "llb", Helvetica, sans-serif;

$family: "llb", Helvetica, sans-serif;



body, h1, h2, h3, h4, h5, h6 {
 font-family: $family; 
}


// Navigation
.top-bar, .contain-to-grid {
  background: transparent;
  // background: black;
  padding-top: 30px;
  transition: all ease .3s;
  &.active {
    padding: 0 0 5px 0;
    background: black;
  }
}

.top-bar {

  margin-top: 20px;

  li a {
    font: $nav-type;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: white;
    position: relative;
    transition: all ease .3s;
  }
  li a:hover::after {
    opacity: 1;
    bottom: -5px;
  }
  li a::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    left: 0px;
    bottom: 0px;
    opacity: 0;
    transition: all ease .3s;
  }

  li.active a::after, li.active a::after {
    opacity: 1;
    bottom: -5px;
  }

  .social li a {
    font-family: 'icomoon';
    font-size: 26px;
    line-height: 20px;
    opacity: 1;
    transition: all ease .3s;
    &:hover {
      opacity:.5;
    }
  }
}





section {

  padding: 60px 0;

  .medium-5 {
    h2 {
      line-height: 1em;
      margin-bottom: 50px;
    }
  }

}

.title-block {
  display: inline-block;
  background: white;
  padding: 12px 15px 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font: $subhead;
  margin-bottom: 50px;

  .the-chair & {
    border: 1px solid #ccc;
    color: #999;
  }
  .supporters & {
    border: 1px solid #ccc;
    color: #999;
  }
  .design & {
    color: #999;
  }
  .kickstarter & {
    color: black;
  }
}




// Home
.intro {
  background: #000;
  min-height: 100%;
  padding: 40vh 0 0 0;
  overflow: hidden;
  position: relative;

  .bgimage {
    background: url(../img/intro.jpg) 0 0 no-repeat;
    background-size: cover;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
  }


  h2 {
    font-size: 50px;
    line-height: 60px;
    color: white;
  }
  h1 {
    font-size: 110px;
    color: white;
    display: inline;
    line-height: 80px;
  }
}

.design {
  background: #8d8e89 url(../img/design.jpg) center right no-repeat;
  background-size: 60%;
  min-height: 100%;
  padding-top: 12vh;
  h2 {
    font-size: 46px;
    line-height: 50px;
    margin-bottom: 50px;
    color: white;
  }
  p {
    padding-right: 120px;
    color: white;
  }
  .videolink {
    position: relative;
    width: 150px;
    height: 90px;
    margin-top: 40px;
    img {
      opacity: .4;
      transition: all ease .3s;
    }
    .icon-playbutton {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 100px;
      color: white;
      transition: all ease .3s;
    }
    &:hover {
      cursor: pointer;
      img {
        opacity: 1;
      }
      .icon-playbutton {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0;
      }
    }
  }
}

.the-chair {
  min-height: 90%;
  padding-top: 12vh;
  .features {
    padding: 5%;
    position: relative;
    // background: grey;
    height: 600px;
    min-width: 500px;
  }
  p {
    padding-right: 50px;
    color: #999;
  }

  .one, .two, .three {
    position: absolute;
    span {
      position: absolute;
      display: block;
      width: 30px;
      height: 30px;
      background: black;
      color: white;
      border-radius: 100%;
      text-align: center;
      padding-top: 5px;
      z-index: 1;
      &::after, &::before {
        content: ''; 
      }

    }

    p {
      display: block;
      width: 200px;
      height: inherit;
      padding: 10px 20px 10px 12px;
      background: #e6e6e6;
      color: black;
      position: absolute;
      right: -15px;
      margin-top: -45px;
      opacity: 0;
      transition: all ease .3s;
    }
    &:hover {
      p {
        opacity: 1;
      }
    }
  }

  .one { left: 30%; top: 20%; }
  .two { left: 65%; top: 45%; }
  .three { left: 40%; top: 60%; }


  .one p {  }
  .two p {  }
  .three p {  }



}


.kickstarter {
  min-height: 70%;
  background: black;
  padding-top: 10vh;
  h2, p, a {
    color: white;
  }
  h2 span {
    color: grey;
  }
}

.kickstartervideo {
  position: relative;
  margin-top: 20px;
  img {
    opacity: .4;
    transition: all ease .3s;
  }
  .icon-playbutton {
    position: absolute;
    font-size: 140px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all ease .3s;
  }
  &:hover {
    img {
      opacity: .8;
    }
    .icon-playbutton {
      opacity: 0;
    }
  }
}

.supporters {
  min-height: 60%;
  padding-top: 12vh;
  p { 
    padding-right: 60px;
  }
  .medium-block-grid-3 {
    margin-top: 20px;
    li:nth-child(4) {
      margin-left: 100px;
    }
  }
}

.overlay, .overlaytwo {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background: rgba(0,0,0,.9);
  pointer-events: auto;
  transition: all ease .3s;
  transform: scale(1);
  &.inactive {
    opacity: 0;
    pointer-events: none;
    transform: scale(1.1) translateY(-2%);
  }
  iframe {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 100%;
  }
  .close {
    position: absolute;
    display: block;
    top: 5%;
    right: 5%;
    width: 30px;
    height: 30px;
    z-index: 9999;
    cursor: pointer;
      transition: all ease .3s;
    &:after, &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: white;
      top: 50%;
      left: 0%;
      transform-origin: 50% 50%;
      transform: rotate(45deg);
      transition: all ease .3s;
    }
    &:before {
      transform: rotate(135deg);
    }
    &:hover {
      &:after {
        transform: rotate(45deg) scaleY(3);
        transition: all ease .3s;
      }
      &:before {
        transform: rotate(135deg) scaleY(3);
        transition: all ease .3s;
      }
    }
  }
}


// Footer
footer {
  padding: 60px 0;
  background: #e6e6e6;
  
  p {
    color: black;
    a {
      position: relative;
      color: black;
      &:hover {
        color:black;

      }
      &::after {
        background: black;
        content: ' ';
        left: 0px;
        bottom: 0px;
        position: absolute;
        width: 100%;
        height: 4px;
        background: white;
        opacity: 0;
        transition: all ease .3s;
      }
      &:hover::after {
        bottom: -10px;
        opacity: 1;

      }
    }
  }

  .social li a {
    display: block;
    background: white;
    width: 26px;
    height: 26px;
    text-align: center;
    border-radius: 50%;
    font-family: 'icomoon';
    font-size: 26px;
    line-height: 20px;
    opacity: 1;
    color: black;
    transition: all ease .3s;
    &:hover {
      background: black;
      color: white;
    }
  }
  .credit {
    color: black;
    position: relative;
    &::after {
      content: '';
      left: 0px;
      bottom: 0px;
      position: absolute;
      width: 100%;
      height: 4px;
      background: white;
      opacity: 0;
      transition: all ease .3s;
    }
    &:hover::after {
      bottom: -10px;
      opacity: 1;

    }
  }

  .icon-logo {
    color: black;
    font-size: 70px;
    line-height: 25px;
  }

  input[type="text"], input[type="email"], input[type="submit"] {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    border-bottom: 2px solid black;
    float: left;
    width: 70%;
    padding: 12px 0 10px 0;
    height: 44px;
    font: 16px/20px "llb", sans-serif;
    &:focus {
      background: transparent;
      border-color: black; 
      color: black; 
    }
    &::placeholder {
      color: black;
    }
  }

  .response {
    float: left;
  }

  input[type="submit"] {
    width: 30%;
    border-left: 2px solid black;
    transition: all ease .3s;
    &:hover {
      background: black;
      color: white;
      cursor: pointer;
    }
  }

  
}


