// bower:scss
// endbower

//icomoon
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot') format('embedded-opentype'),
	url('../fonts/icomoon.ttf') format('truetype'),
	url('../fonts/icomoon.woff') format('woff'),
	url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$cubic: cubic-bezier(.68,.02,.33,.99);

$grey: #8d8e88;


@font-face {
	font-family: "llb";
	src:url("../fonts/llb.eot");
	src:url("../fonts/llb.eot?#iefix") format("embedded-opentype"),
		url("../fonts/llb.woff") format("woff"),
		url("../fonts/llb.ttf") format("truetype"),
		url("../fonts/llb.svg#lineto-brown-regular") format("svg");
	font-weight: normal;
	font-style: normal;
}

.icon-facebook:before {
  content: "\e600";
}
.icon-logo:before {
  content: "\e602";
}
.icon-playbutton:before {
  content: "\e603";
}
.icon-twitter:before {
  content: "\e604";
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Global
* { margin: 0; padding: 0; -webkit-font-smoothing: antialiased; }
.hide { display: none !important; }

::selection { background: #ccc; } 

$subhead: 12px/18px "llb", Helvetica, sans-serif;

$nav-type: 12px/18px "llb", Helvetica, sans-serif;

$family: "llb", Helvetica, sans-serif;


body, h1, h2, h3, h4, h5, h6 {
 font-family: $family; 
}


// Navigation
.top-bar, .contain-to-grid {
  background: transparent;
  // background: black;
  padding-top: 30px;
  transition: all ease .3s; 
  &.active {
	padding: 0 0 0 0;
	background: black;
	.header-logo {
	  color: white;
	}
  }
  .menu-items {
	// display: flex;
	// justify-content: space-between;
	li { 
		display: inline-block;
		padding: 0 20px 0 0;
		// width: ;
		// flex: 1;
	}
  }

  .header-logo {
	color: transparent;
	font-size: 70px;
	line-height: 20px;
	transition: all ease .3s;
	height: 30px;
  }
}



.top-bar {

  margin-top: 20px;
  @media only screen and (max-width: 40em) {
	display: none;
  }

  li a {
	font: $nav-type;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: white;
	position: relative;
	transition: all ease .3s;
	@media only screen and (max-width: 40em) {
	  font-size: 20px;
	  line-height: 36px;
	  text-transform: inherit;
	}
  }
  li a:hover::after {
	opacity: 1;
	bottom: -5px;
  }
  li a::after {
	content: ' ';
	position: absolute;
	width: 100%;
	height: 2px;
	background: white;
	left: 0px;
	bottom: 0px;
	opacity: 0;
	transition: all ease .3s;
  }

  li.active a::after, li.active a::after {
	opacity: 1;
	bottom: -5px;
  }

  .social  {
	li {
	  a {
		font-family: 'icomoon';
		font-size: 26px;
		line-height: 24px;
		opacity: 1;
		transition: all ease .3s;
		di
		&:hover {
		  opacity:.5;
		}
	  }

	}
  }
}





section {
  padding: 60px 0;
  @media only screen and (max-width: 40em) {
	padding: 40px 0;
  }  
  .medium-5 {
	h2 {
	  line-height: 1em;
	  margin-bottom: 50px;
	}
  }
}


// Home
.intro {
  background: #000;
  min-height: 100%;
  padding: 40vh 0 0 0;
  overflow: hidden;
  position: relative;

  .bgimage {
	background: url(../img/intro.jpg) 0 0 no-repeat;
	background-size: cover;
	opacity: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: 0;
	@media only screen and (max-width: 40em) {
	  background-position: 30%;
	}
  }

	.columns {
		@media only screen and (max-width: 40em) {
			height: 200px;
		}
	}
	h1 {
		font-size: 110px;
		color: white;
		display: inline;
		line-height: 80px;
		@media only screen and (max-width: 40em) {
			font-size: 90px;
			line-height: 70px;
		}
	}

  h2 {
	font-size: 50px;
	line-height: 60px;
	color: white;
	@media only screen and (max-width: 40em) {
	  font-size: 36px;
	  line-height: 40px;
	  // position: absolute;
	  // bottom: 50px;
	}
  }
  
  .row {
	 @media only screen and (max-width: 40em) {
	  position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
	 }
  }

}

.loader {
  position: fixed;
  background: rgba(0,0,0,.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  transition: all ease 1s;
  .dot  {
	display: block;
	position: absolute;
	width: 15px;
	height: 15px;
	background: white;
	border-radius: 100%;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	margin-top: -10px; 
	-webkit-animation: radiate 1s infinite;
	-moz-animation: radiate 1s infinite;
	-o-animation: radiate 1s infinite;
	animation: radiate 1s infinite;
  }
  &.disable {
	opacity: 0;
	pointer-events: none;
  }
}

@-webkit-keyframes radiate {
  0% { opacity: 1; transform: scale(.75); }
  100% { opacity: 0; transform: scale(2); }
}
@-moz-keyframes radiate {
  0% { opacity: 1; transform: scale(.75); }
  100% { opacity: 0; transform: scale(2); }
}
@-o-keyframes radiate {
  0% { opacity: 1; transform: scale(.75); }
  100% { opacity: 0; transform: scale(2); }
}
@keyframes radiate {
  0% { opacity: 1; transform: scale(.75); }
  100% { opacity: 0; transform: scale(2); }
}


.problem, .principles, .solution, .team, .shop {
	h4.title {
		background: red;
		display: inline-block;
		padding: 10px 20px;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 1.5px;
		margin-bottom: 40px;
		margin-top: 30px;
		@media only screen and (max-width: 40em) {
			margin-bottom: 20px;
			margin-top: 40px;
		}
	}
	.arrow {
		display: block;
		width: 25px;
		height: 25px;
		// background: red;
		position: absolute;
		transform: rotate(45deg);
		transition: all $cubic .3s;
		cursor: pointer;
		&:hover {
			opacity: .5;
		}
	}
	.next {
		border-right: 1px solid black;
		border-top: 1px solid black;
	}
	.prev {
		border-left: 1px solid black;
		border-bottom: 1px solid black;
	}
	ul, li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	ul.nav {
		transition: all $cubic .7s;
	}
	ul.nav li {
		transition: all $cubic .3s;
	}
	ul.nav:hover {
		li {
			opacity: .2;
		}
		li a {
			opacity: 1;
		}
	}
	ul.nav:hover li:hover {
		opacity: 1;
	}
	ul.nav:hover li:hover a {
		opacity: 1;
	}
}


.intro {
	background: rgba(0,0,0,.5);
	position: relative;
	height: 100vh;
	overflow: hidden;
	@media only screen and (max-width: 40em) {  
		background: black;
		height: 400px;
		min-height: 400px;
	}
	h1, h2 {
		position: relative;
		z-index: 1;
	}
	.row {
		@media only screen and (max-width: 40em) {  
			top: 0px;
			transform: translateY(0);
		}
	}
	.medium-5, .medium-7 {

		@media only screen and (max-width: 40em) {  
			margin-top: 40px;
		}
	}
	.bg {
		li {
			list-style-type: none;
			margin: 0;
			padding: 0;
			position: absolute;
			opacity: 0;
			z-index: -1;
			top: 0px;
			left: 0px;
			right: 0px;
			height: 100vh;
			background-size: cover;
			background-position: center center;
			transition: all $cubic 1s;
			// object-fit: cover;
			@media only screen and (max-width: 40em) {  
				height: 400px;
				right: inherit;
				width:100%;
			}
			&.active {
				opacity: 1;
			}
		}
	}
}



.problem {
	background: rgba(141,142,137,.8);
	color: white;
	height: 90vh;
	min-height: 500px;
	position: relative;
	overflow: hidden;
	transition: all $cubic .8s;
	@media only screen and (max-width: 40em) {
		padding: 0 20px;
	}
	&.white {
		background: white;
		color: black;
	}
	h4.title {
		background: white;
		color: black; 
		position: relative;
		z-index: 1;
		transition: all $cubic .3s;
		&.black {
			background: black;
			color: white;
			cursor: pointer;
			// &:hover {
			// 	background: white;
			// 	color: black;
			// }
		}
	}
	.row > ul {
		li.prob {
			opacity: 0;
			pointer-events: none;
		}
		li.prob.active {
			opacity: 1;
			pointer-events: auto;
			& > div {
				position: absolute;
				pointer-events: none;
				top: 0px;
				bottom: 0px;
				left: 0px;
				right: 0px;
				& > div {
					max-width: 62.5em;
					margin: 0 auto;
				}
			}
			& > div.active {
				pointer-events: auto;
			}
		}

		h1 {
			position: absolute;
			z-index: 1;
			line-height: 55px;
			top: 210px;
			max-width: 600px;
			color: white;
			opacity: 0;
			transform: translateX(40px);
			transition: all .7s $cubic .15s;
			@media only screen and (max-width: 40em) {
				font: 32px/34px 'llb', sans-serif;
				top: 170px;
				padding-left: 20px;
			}
		}
		h2 {
			position: absolute;
			z-index: 1;
			top: 210px;
			max-width: 600px;
			text-indent: -17px;
			font: 32px/40px 'llb', sans-serif;
			color: white;
			opacity: 0;
			transform: translateX(40px);
			transition: all .7s $cubic .15s;
			@media only screen and (max-width: 40em) {
				font: 26px/30px 'llb', sans-serif;
				top: 170px;
				max-width: 90%;
				text-indent: -12px;
				padding-left: 20px;
			}
			span {
				text-indent: 0px;
				display: block;
				opacity: .5;
				margin-top: 20px;
			}
		}
		a.process {
			position: absolute;
			bottom: 100px;
			background: black;
			display: inline-block;
			padding: 10px 20px;
			text-transform: uppercase;
			font-size: 14px;
			z-index: 1;
			letter-spacing: 1.5px;
			margin-bottom: 40px;
			margin-top: 30px;
			color: white;
			opacity: 0;
			pointer-events: none;
			transition: all $cubic .5s;
			@media only screen and (max-width: 40em) {
				display: none;
			}
			&:hover {
				padding: 15px 25px;
				transform: translate(-5px, 5px);
			}
		}
		.bg {
			position: absolute;
			left: 0;
			top: 0;
		    right: 0;
		    bottom: 0;
			opacity: 0;
			z-index: -1;
			transition: all $cubic .5s;
			// mix-blend-mode: multiply;
		}
		div.active div {
		
			h1, h2 {
				opacity: 1;
				transform: translateX(0px);
				pointer-events: auto;
			}
			.bg {
				opacity: 1;
				pointer-events: auto;
			}
			a.process {
				opacity: 1;
				pointer-events: auto;
			}
			
		}
	}
	li.process {
		pointer-events: none;
		&.active {
			opacity: 1;
		}
		ul.nav {
			position: absolute;
			top: 210px;
			transition: all $cubic .7s;
			@media only screen and (max-width: 40em) {
				margin-left: 0;
				top: initial;
				bottom: 50px;
				z-index: 1;
			}
			li {
				a {
					font: 48px/56px 'llb', sans-serif;
					color: black; 	
					transition: all $cubic .5s;
					cursor: pointer;
				}
				&.active {

				}
			}
		}	
	}
	li.process.active {
		ul.nav {
			opacity: 1;
			transform: translateX(0px);
			pointer-events: auto;
			margin-left: 0px;
			li {
				opacity: .2;
			}
			li.active {
				opacity: 1;
			}
			li a, li.active a {
				color: black !important;
			}
		}
		ul.content li.active {
			p, div {
				opacity: 1;
				transform: translateX(0px);
			}
		}
	}
	ul.nav {
		position: absolute;
		top: 220px;
		opacity: 1;
		margin-left: 55%;
		transform: translateX(0px);
		transition: all .8s $cubic;
		@media only screen and (max-width: 40em) {
			top: 120px;
		}
		li {
			a {
				color: white !important;
				// opacity: .2;
				pointer-events: auto;
			}
			&.active {
				a {
					color: white !important;
					opacity: 1;
					transform: translateX(0px);
					pointer-events: auto;
				}
			}
			
		}
	}
	ul.content {
		// pointer-events: none;
		li {
			position: absolute;
			top: 0px;
			width: 64%;
			right: 0px;
			padding-top: 220px;
			pointer-events: none;
			@media only screen and (max-width: 40em) {
				width: 100%;
				height: 100%;
				padding: 220px 20px 20px 20px;
			}
			p {
				width: 270px;
				position: relative;
				z-index: 1;
				opacity: 0;
				transform: translateX(40px);
				transition: all .8s $cubic .1s;
				@media only screen and (max-width: 40em) {
					width: 105%;
				}
			}
			div {
				position: absolute;
				top: 0;
				height: 90vh;
				min-height: 500px;
				max-width: 40vw;
				right: 0;
				z-index: 0;
				opacity: 0;
				transform: translateX(100px);
				transition: all .8s $cubic .2s;
				background: $grey;
				@media only screen and (max-width: 40em) {
					top: initial;
					width: 70%;
					min-width: 70%;
					height: 400px;
				    min-height: 400px;
					background: $grey;
					bottom: initial;
					top: 0;
					overflow: hidden;
				}
				img {
					width: 100%;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					@media only screen and (max-width: 40em) {
					    top: 50%;
				        transform: scale(1) translateY(-55%);
				
					}
				}
			}
		}
		li.active {
			p {
				tranform: translateX(0px);
			}
		}
	}

}


.principles, .solution {
	background: rgba(0,0,0,.5);
	color: white;
	height: 70vh;
	min-height: 500px;
	position: relative;
	overflow: hidden;
	transition: all 1s $cubic .15s;
	@media only screen and (max-width: 40em) {
		padding: 0 20px;
		height: 90vh;
		min-height: 90vh;
	}

	&.black {
		background: rgba(0,0,0,1);
	}
	h4.title {
		background: white;
		cursor: pointer;
		@media only screen and (max-width: 40em) {
			position: relative;
			z-index: 1;
			margin-top: 40px;
		}
	}
	div.bg {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
		transition: all 1s $cubic .15s;
		&.hidden {
			opacity: 0;
		}
	}

	.info {
		position: absolute;
		top: 220px;
		max-width: 450px;
		transform: translateX(0px);
		opacity: 1;
		transition: all $cubic .5s;
		@media only screen and (max-width: 40em) {
			top: 120px;
		}
		&.hidden {
			transform: translateX(-450px);
			opacity: 0;
		}
	}
	.nav {
		position: absolute;
		top: 210px;
		margin-left: 55%;
		transition: all $cubic .5s;
		@media only screen and (max-width: 40em) {
			margin-left: 0;
			top: initial;
			bottom: 50px;
			z-index: 1;
		}
		li {
			a {
				font: 48px/56px 'llb', sans-serif;
				color: white; 	
				transition: all $cubic .5s;
				cursor: pointer;
			}
			&.active {

			}
		}
		&.inuse {
			margin-left: 0px;
			li {
				a { 
					opacity: .2;
				}
				&.active {
					a {
						opacity: 1;
					}
				}
			}	
		}
	}
	.singles {
		position: absolute;
		top: 0px;
		width: 64%;
		right: 0px;
		pointer-events: none;
		@media only screen and (max-width: 40em) {
			width: 100%;	
		}
		li {
			pointer-events: none;
			// position: absolute;
			p {
				max-width: 270px;
				opacity: 0;
				position: absolute;
				top: 220px;
				transform: translateX(40px);
				transition: all .8s $cubic;
				z-index: 1;
				@media only screen and (max-width: 40em) {
					max-width: 100%; 
					padding: 20px;
				}
			}
			div {
				position: absolute;
				opacity: 0;
				top: 0;
				right: 0;
				height: 70vh;
				min-height: 500px;
				max-width: 40vw;
				text-align: right;
				transform: translateX(40px);
				transition: all .8s $cubic .15s;
				z-index: 0;
				background: $grey;
				@media only screen and (max-width: 40em) {
					max-width: 70%;
					height: 400px;
					min-height: 400px;

				}
				img {
					position: relative;
					width: 100%;
					top: 50%;
					transform: translateY(-50%);
					// object-fit: cover;
				}
			}

			&.active {
				pointer-events: auto;
				p {
					opacity: 1;
					transform: translateX(0px);
				}
				div {
					opacity: 1;
					transform: translateX(0px);
				}
			}
		}
	}

}


.solution {
	background: rgba(255,255,255,.5);
	h4.title {
		background: black;
		color: white;
		@media only screen and (max-width: 40em) {
			margin-top: 40px;
		}
	}
	p, .nav li a {
		color: black;
	}
	&.black {
		background: #ececec;
	}
	.singles li div {
		background: #ececec;
	}
}

.team {
	@media only screen and (max-width: 40em) { 
		padding: 30px 20px 20px 20px;
	}
	h4.title {
		background: transparent;
		border: 1px solid black;
		color: black;
	}
	.row > .row {
		height: 240px;
		position: relative;
		margin-top: 60px;
		@media only screen and (max-width: 40em) { 
			margin-top: 0px;
		}
		p {
			padding-right: 100px;
			@media only screen and (max-width: 40em) { 
				padding-right: 0;
			}
		}
		.profiles {
			cursor: pointer;

			li:first-child  {
				position: absolute;
				right: 0px;
				top: 50px;
				z-index: 1;
			}
			li:last-child {
				position: absolute;
				top: -150px;
				left: -50px;
				z-index: 1;
			}
			li:hover {
				z-index: 2;
			}
			li:first-child, li:last-child {
				@media only screen and (max-width: 40em) { 
					position: relative;
					top: 0px;
					left: 0px;
					margin-bottom: 20px;
					img {
						width: 100%;
					}
				}
			}
		}
	}
}

.shop {
	@media only screen and (max-width: 40em) { 
		padding: 20px;
	}
	h4.title {
		background: transparent;
		border: 1px solid black;
		color: black;
	}
	.info {
		box-sizing: border-box;
		background: black;
		padding: 25px 80px 25px 40px;
		height: 500px;
		@media only screen and (max-width: 40em) { 
			height: 440px;
			padding: 20px;
		}
		h4, p, a {
			color: white;
		}
		h4 {
			margin-bottom: 30px;
			i {
				font-size: 50px;
				line-height: 0px;
			}
		}
		.buttons {
			position: absolute;
			bottom: 40px;
			@media only screen and (max-width: 40em) { 
				left: 20px;
				bottom: 20px;
			}
		}
		.price, .buy {
			font-family: "llb", sans-serif;
			background: white;
			color: black;
			display: inline-block;
			padding: 15px 20px;
			outline: none;
			font-size: 12px;
			line-height: 20px;
			text-transform: uppercase;
			vertical-align: baseline;
			margin: 0;
			letter-spacing: 1px;
			@media only screen and (max-width: 40em) {
				padding: 10px 15px;
			}
			
		}
	}

	.slides {
		background: black;
		height: 500px;
		width: 50%;
		overflow: hidden;
		margin: 0;
		padding: 0;
		@media only screen and (max-width: 40em) {
			width: 100%;
			height: 330px;
		}
		&:hover {
			cursor: pointer;
		}
		img {
			position: absolute;
			object-fit: cover;
			width: 100%;
		}
		li {
			height: 100%;
			opacity: 0;
			pointer-events: none;
			margin-left: 20px;
			transition: all ease .8s;
			z-index: 0;
			@media only screen and (max-width: 40em) { 
				margin-left: 0px;
				margin-top: 20px;
				position: absolute;
				left: 0px;
				right: 0px;
				top: 0px;
				bnottm: 0px;
			}
		}
		li.active {
			opacity: 1;
			margin-left: 0px;
			pointer-events: auto;
			z-index: 1;
			@media only screen and (max-width: 40em) { 
				margin-top: 0px;
			}
		}
	}


}



// Footer
footer {
  padding: 60px 0;
  background: #e6e6e6;
  
  p {
	color: black;
	a {
	  position: relative;
	  color: black;
	  &:hover {
		color:black;

	  }
	  &::after {
		background: black;
		content: ' ';
		left: 0px;
		bottom: 0px;
		position: absolute;
		width: 100%;
		height: 4px;
		background: white;
		opacity: 0;
		transition: all ease .3s;
	  }
	  &:hover::after {
		bottom: -10px;
		opacity: 1;

	  }
	}
  }

  .copyright {
  	width: 270px;
  	opacity: .5;
  	margin-top: 20px;
	@media only screen and (max-width: 40em) {
		display: none;
	}
  	p {
	  	font: 14px/18px 'llb', sans-serif;
  	}
  }

  .social  {
	@media only screen and (max-width: 40em) {
	  padding: 15px 0;
	}
	li {
	  @media only screen and (max-width: 40em) {
		display: inline-block;
		width: 40px;
	  } 
	}
	li a {
	  display: block;
	  background: white;
	  width: 26px;
	  height: 26px;
	  text-align: center;
	  border-radius: 50%;
	  font-family: 'icomoon';
	  font-size: 26px;
	  line-height: 20px;
	  opacity: 1;
	  color: black;
	  transition: all ease .3s;
	  &:hover {
		background: black;
		color: white;
	  }
	}
  }
  .credit {
	color: black;
	position: relative;
	&::after {
	  content: '';
	  left: 0px;
	  bottom: 0px;
	  position: absolute;
	  width: 100%;
	  height: 4px;
	  background: white;
	  opacity: 0;
	  transition: all ease .3s;
	}
	&:hover::after {
	  bottom: -10px;
	  opacity: 1;

	}
  }

  .icon-logo {
	color: black;
	font-size: 70px;
	line-height: 25px;
	@media only screen and (max-width: 40em) {
	  margin-left: -5px;
	}
  }

  input[type="text"], input[type="email"], input[type="submit"] {
	background: transparent;
	border: none;
	outline: none;
	box-shadow: none;
	padding: 0;
	border-bottom: 2px solid black;
	float: left;
	width: 70%;
	padding: 12px 0 10px 0;
	height: 44px;
	font: 16px/20px "llb", sans-serif;
	&:focus {
	  background: transparent;
	  border-color: black; 
	  color: black; 
	}
	&::placeholder {
	  color: black;
	}
  }

  .response {
	float: left;
  }

  input[type="submit"] {
	width: 30%;
	border-left: 2px solid black;
	transition: all ease .3s;
	&:hover {
	  background: black;
	  color: white;
	  cursor: pointer;
	}
  }
}

