
<footer>
	<div class="row">
		<div class="medium-12 column">
			<div class="row">
				<div class="medium-5 columns">
					<a href="#" class="icon-logo"></a>
				</div>
				<div class="medium-4 columns">
					<p>Please get in touch with us if you would like to find out more about earó or you would like to support the project. <a href="mailto:info@earo.ie">info@earo.ie</a></p>
					<p>Enter your email address below to get occasional updates from us.</p>
					<form>
						<input type="text" placeholder="Email" class="email">
						<input type="submit" class="signup">
					</form>
				</div>
				<div class="medium-2 medium-offset-1 columns">
					<ul class="small-block-grid-4 social">
						<li><a href="#"><span class="icon-twitter"></span></a></li>
						<li><a href="#"><span class="icon-facebook"></span></a></li>
						<li><a href="#"><span class="icon-kickstarter"></span></a></li>
					</ul>
					<a href="http://workbypost.com/" class="credit">Site by Post</a>
				</div>
			</div>
		</div>
	</div>
</footer>
