
<footer id="contact">
	<div class="row">
		<div class="medium-12 column">
			<div class="row">
				<div class="medium-6 columns">
					<a href="#" class="icon-logo"></a>
				</div>
				<div class="medium-4 columns">
					<p>Please get in touch with us if you would like to find out more about earó or you would like to support the project. <a href="mailto:info@earochair.com">info@earochair.com</a></p>
					<p>Enter your email address below to get occasional updates from us.</p>
					<!-- <form>
						<input type="text" placeholder="Email" class="email">
						<input type="submit" class="signup">
					</form> -->


					<!-- Begin MailChimp Signup Form -->
					<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">

					<form action="//earo.us11.list-manage.com/subscribe/post?u=7cd8b6307eddbc1055b376b30&amp;id=b6c0a7429a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"  target="_blank" novalidate>

						<input type="email" value="" placeholder="Email" name="EMAIL" class="email" id="mce-EMAIL">
						<input type="submit" value="Submit" name="subscribe" class="signup">

						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>
						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						

					</form>


					<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
					<!--End mc_embed_signup-->


				</div>
				<div class="medium-2 columns">
					<ul class="small-block-grid-4 social">
						<li><a href="#"><span class="icon-twitter"></span></a></li>
						<li><a href="#"><span class="icon-facebook"></span></a></li>
					</ul>
					<a href="http://workbypost.com/" class="credit">Site by Post</a>
				</div>
			</div>
		</div>
	</div>
</footer>
