
<div class="loader">
	<div class="dot"></div>
</div>

<section class="container intro" data-magellan-destination="intro">
	<div class="bgimage"></div>
	<div class="row">
		<div class="medium-5 columns">
			<h1 class="icon-logo"></h1>
		</div>
		<div class="medium-7 columns">
			<h2>A chair designed<br/>for musicians</h2>
		</div>
	</div>
</section>


<section class="container design" data-magellan-destination="design">
	<div class="row" id="design">
		<div class="medium-7 columns">
			<a href="#design" class="title-block">Design</a>
			<h2>A chair for musicians, designed to improve posture and performance</h2>
			<p>To design earó, Dr Gearóid Ó Conchubhair, consulted with 250 orchestras around the world. Inspired by musicians' insights, earó embodies 4 key principles: Stability, Mobility, Flexibility and Longevity.</p>
			<div class="videolink">
				<img class="" src="img/design-thumbnail.png" alt="">
				<span class="icon-playbutton"></span>
			</div>
		</div>
	</div>
</section>

<section class="row the-chair" data-magellan-destination="the-chair">
	<div class="medium-5 columns"  id="the-chair">
		<a href="#thechair" class="title-block">The Chair</a>
		<h2>It&rsquo;s time to improve your work-life balance</h2>
		<p>ear&oacute; is a chair design for musicians and their specific requirements. It&rsquo;s unique equatilt principle allow musicians maintain their posture for prolonged periods of time while keeping them supported to reduce muscle fatigue.</p>
	</div>
	<div class="medium-7 columns features">
		<img class="" src="img/the-chair.png" alt="">
		<div class="one">
			<span>1</span>
			<p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, a!</p>
		</div>
		<div class="two">
			<span>2</span>
			<p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, repudiandae.</p>
		</div>
		<div class="three">
			<span>3</span>
			<p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, nulla?</p>
		</div>
	</div>
</section>

<section class="container kickstarter" data-magellan-destination="kickstarter">
	<div class="row" id="kickstarter">
		<div class="medium-5 columns">
			<a href="#kickstarter" class="title-block">Kickstarter</a>
			<h2>Help us make ear&oacute; a reality <span>25 Days to Go!</span></h2>
			<p>For musicians, physical strain takes its toll on performance and the costs can be a lot higher than you'd imagine. Every contribution you make will help provide a real solution: earó.</p>
		</div>

		<div class="medium-7 columns">
			<a href="#" class="kickstartervideo">
				<img src="img/kickstarter.png" alt="">
				<span class="icon-playbutton"></span>
			</a>
		</div>
	</div>
</section>

<section class="container supporters" data-magellan-destination="supporters">
	<div class="row" id="supporters">
		<div class="medium-5 columns">
			<a href="#supporters" class="title-block">Supporters</a>
			<p>earó's ambition is to positively influence musicians' working lives. Without the invaluable help of key institutes, well-being professionals, musicians, venue owners and stage handlers, earó could not have come this far.</p>
		</div>
		<div class="medium-7 columns">
			<ul class="small-block-grid-2 medium-block-grid-3">
				<li><img src="img/supporter-01.jpg" alt=""></li>
				<li><img src="img/supporter-02.jpg" alt=""></li>
				<li><img src="img/supporter-03.jpg" alt=""></li>
				<li><img src="img/supporter-04.jpg" alt=""></li>
				<li><img src="img/supporter-05.jpg" alt=""></li>
			</ul>
		</div>
	</div>
</section>

<section class="overlay inactive">
	<div class="vimeowrap">
		<iframe src="https://player.vimeo.com/video/25708405?color=000000&title=0&byline=0" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<div class="close"></div>
</section>

<section class="overlaytwo inactive">
	<div class="vimeowraptwo">
		<iframe src="https://player.vimeo.com/video/49906158?color=6c6e95&title=0&byline=0" width="800" height="459" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<div class="close"></div>
</section>

