
<div class="loader">
	<div class="dot"></div>
</div>

<section class="container intro" data-magellan-destination="intro">
	<div class="bgimage"></div>
	<div class="row">
		<div class="medium-5 columns">
			<h1 class="icon-logo"></h1>
		</div>
		<div class="medium-7 columns">
			<h2>A chair designed<br/>for musicians</h2>
		</div>
		<ul>
			<li><img src="img/intro1.jpg" alt=""></li>
			<li><img src="img/intro2.jpg" alt=""></li>
			<li><img src="img/intro3.jpg" alt=""></li>
		</ul>
	</div>
</section>



<!-- PROBLEM -->
<section class="container problem" data-magellan-destination="problem">
	<div class="row" id="problem">
		<h4 class="title">Problem</h4>

		<ul>
			<li class="first active">
				<h1>70% of musicians experience pain or injury.</h1>
				<div class="bg" style="background: url('http://placehold.it/1600x1000/f33') center center no-repeat;"></div>
				<span class="next arrow"></span>
			</li>
			<li class="second">
				<h2>&ldquo;Musicians suffer for their Art, but unnecessary suffering inhibits Art&rdquo; <span>Dr. Gear&oacute;id &Oacute; Conchubhair</span></h2>
				<div class="bg" style="background: url('http://placehold.it/1600x1000/33f') center center no-repeat;"></div>
				<span class="next arrow"></span>
			</li>
			<li class="process">
				<span class="prev arrow"></span>
				<ul class="nav">
					<li class="active"><a href="#">Posture Analysis</a></li>
					<li><a href="#">Seat Angle Tests</a></li>
					<li><a href="#">Seat Pressure Testing</a></li>
				</ul>
				<ul class="content">
					<li class="active">
						<p>Musicians from all seated portions of orchestra were observed while using existing chairs, followed by development rigs.</p>
						<div><img src="http://placehold.it/600x800/efe" alt=""></div>
					</li>
					<li>
						<p>A test rig with adjustable seat plates was used to determine optimal seat angles across the the range of musicians.</p>
						<div><img src="http://placehold.it/600x800/fee" alt=""></div>
					</li>
					<li>
						<p>Seat pressure testing was used to determine the effect of various seat angles on posture and weight transfer of musicians.</p>
						<div><img src="http://placehold.it/600x800/eef" alt=""></div>
					</li>
				</ul>
			</li>
		</ul>

	</div>
</section>


<!-- PRINCIPLES -->
<section class="container principles" data-magellan-destination="principles">
	<div class="row" id="principles">
		<h4 class="title">Principles</h4>
		<div class="bg" style="background: url('http://placehold.it/1600x1000/666') center center no-repeat;"></div>
		<div class="info">
			<p>earo has been designed to provide a real benefit to the well being of musicians. The principles behind earo promote balanced seated postures, therefore reducing the potential for injuries in both practice and performance.</p><p>The 3  key principles are as follows:</p>
		</div>
		<ul class="nav">
			<li><a href="#">Elevation</a></li>
			<li><a href="#">Posture</a></li>
			<li><a href="#">Rotation</a></li>
		</ul>

		<ul class="singles">
			<li>
				<p>earo provides an elevated seat height which enables relaxed breathing, by raising the pelvis above the line of the knees.</p>
				<div><img src="http://placehold.it/800x800/fef" alt=""></div>
			</li>
			<li>
				<p>earo allows for an open posture when seated, this in turn allows for a more dynamic attitude when seating during performance.</p>
				<div><img src="http://placehold.it/800x800/fee" alt=""></div>
			</li>
			<li>
				<p>earo enables forward pelvic rotation when seated, which combined with the other elements allows for a grounded stance.</p>
				<div><img src="http://placehold.it/800x800/eef" alt=""></div>
			</li>
		</ul>

		

	</div>
</section>



<!-- SOLUTION -->
<section class="container solution" data-magellan-destination="solution">
	<div class="row" id="solution">
		<h4 class="title">Solution</h4>

		<div class="bg"><img src="http://placehold.it/800x800/eef" alt=""></div>
		<div class="medium-5">
			<p>The earó chair sets a new standard in seating for musicians and provides the most ideal conditions for excellent performance. It accomadates the five main instrument groupings of the seated members of the orchestra: violin, viola, cello, wood wind, brass wind while also providing for the practical handling and staging conditions of the auditorium. </p>
		</div>
		<span class="next arrow"></span>


		<ul class="nav">
			<li class="active"><a href="#">Unique Seatform</a></li>
			<li><a href="#">Ergonomic Adjustment</a></li>
			<li><a href="#">Efficient Storage </a></li>
		</ul>

		<ul class="singles">
			<li class="active">
				<p>earo provides an elevated seat height which enables relaxed breathing, by raising the pelvis above the line of the knees.</p>
				<div><img src="http://placehold.it/800x800/f0f" alt=""></div>
			</li>
			<li>
				<p>earo allows for an open posture when seated, this in turn allows for a more dynamic attitude when seating during performance.</p>
				<div><img src="http://placehold.it/800x800/0f0" alt=""></div>
			</li>
			<li>
				<p>earo enables forward pelvic rotation when seated, which combined with the other elements allows for a grounded stance.</p>
				<div><img src="http://placehold.it/800x800/ff0" alt=""></div>
			</li>
		</ul>

	</div>
</section>



<!-- TEAM -->
<section class="container team" data-magellan-destination="team">
	<div class="row" id="team">
		<h4 class="title">Team</h4>
		<div class="row">
			<div class="medium-6 columns">
				<p>When designing earó, Dr Gearóid Ó Conchubhair consulted with 250 orchestra&rsquo;s from around the world to inform the design for a chair that would solve this problem. The developement of earo has been carried out by One Off Design Studio.</p>
			</div>
			<div class="medium-6 columns profiles">

				<ul>
					<li><img src="http://placehold.it/400x300/ff0" alt=""></li>
					<li><img src="http://placehold.it/400x300/0ff" alt=""></li>
				</ul>

			</div>
		</div>
	</div>
</section>


<!-- SHOP -->
<section class="container shop" data-magellan-destination="shop">
	<div class="row" id="shop">
		<h4 class="title">shop</h4>
		<div class="medium-12 columns">
			<div class="row">
				<div class="info medium-6 columns">
					<h4>earó chair</h4>
					<p>Seat shell and backrest in steamed cherry veneer<br/>
					Kvadrat seat cushion upholstery<br/>
					Seatbase in powdercoated steel<br/>
					Seat height adjustable from 430&ndash;570mm<br/>
					Stackable 10 chairs per metre<br/>
					Standard chair weight 5.8kg<br/>
					Alternative colours &amp; fabrics on request</p>
					<div class="buttons">
						<a href="#." class="price">Available from October 2016</a>
						<a href="img/earo-brochure.pdf" class="buy">Brochure</a>
					</div>
				</div>
				<div class="medium-6 columns slides">
					<ul>
						<li class="active"><img src="http://placehold.it/600x600" alt=""></li>
						<li><img src="http://placehold.it/600x600/f00" alt=""></li>
						<li><img src="http://placehold.it/600x600/0f0" alt=""></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>



<!-- <section class="container design" data-magellan-destination="design">
	<div class="row" id="problem">
		<div class="medium-7 columns">
			<a href="#design" class="title-block">Design</a>
			<h2>A chair for musicians, designed to improve posture and performance</h2>
			<p>To design earó, Dr Gearóid Ó Conchubhair, consulted with 250 orchestras around the world. Inspired by musicians' insights, earó embodies 4 key principles: Stability, Mobility, Flexibility and Longevity.</p>
			<div class="videolink">
				<img class="" src="img/design-thumbnail.png" alt="">
				<span class="icon-playbutton"></span>
			</div>
		</div>
	</div>
</section> -->



<!-- 

<section class="row the-chair" data-magellan-destination="the-chair">
	<div class="medium-5 columns"  id="the-chair">
		<a href="#thechair" class="title-block">The Chair</a>
		<h2>It&rsquo;s time to improve your work-life balance</h2>
		<p>ear&oacute; is a chair design for musicians and their specific requirements. It&rsquo;s unique equatilt principle allow musicians maintain their posture for prolonged periods of time while keeping them supported to reduce muscle fatigue.</p>
	</div>
	<div class="medium-7 columns features">
		<img class="" src="img/the-chair.png" alt="">
		<div class="one">
			<span>1</span>
			<p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, a!</p>
		</div>
		<div class="two">
			<span>2</span>
			<p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, repudiandae.</p>
		</div>
		<div class="three">
			<span>3</span>
			<p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, nulla?</p>
		</div>
	</div>
</section>

<section class="container kickstarter" data-magellan-destination="kickstarter">
	<div class="row" id="kickstarter">
		<div class="medium-5 columns">
			<a href="#kickstarter" class="title-block">Kickstarter</a>
			<h2>Help us make ear&oacute; a reality <span>25 Days to Go!</span></h2>
			<p>For musicians, physical strain takes its toll on performance and the costs can be a lot higher than you'd imagine. Every contribution you make will help provide a real solution: earó.</p>
		</div>

		<div class="medium-7 columns">
			<a href="#" class="kickstartervideo">
				<img src="img/kickstarter.png" alt="">
				<span class="icon-playbutton"></span>
			</a>
		</div>
	</div>
</section>

<section class="container supporters" data-magellan-destination="supporters">
	<div class="row" id="supporters">
		<div class="medium-5 columns">
			<a href="#supporters" class="title-block">Supporters</a>
			<p>earó's ambition is to positively influence musicians' working lives. Without the invaluable help of key institutes, well-being professionals, musicians, venue owners and stage handlers, earó could not have come this far.</p>
		</div>
		<div class="medium-7 columns">
			<ul class="small-block-grid-2 medium-block-grid-3">
				<li><img src="img/supporter-01.jpg" alt=""></li>
				<li><img src="img/supporter-02.jpg" alt=""></li>
				<li><img src="img/supporter-03.jpg" alt=""></li>
				<li><img src="img/supporter-04.jpg" alt=""></li>
				<li><img src="img/supporter-05.jpg" alt=""></li>
			</ul>
		</div>
	</div>
</section>

<section class="overlay inactive">
	<div class="vimeowrap">
		<iframe src="https://player.vimeo.com/video/25708405?color=000000&title=0&byline=0" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<div class="close"></div>
</section>

<section class="overlaytwo inactive">
	<div class="vimeowraptwo">
		<iframe src="https://player.vimeo.com/video/49906158?color=6c6e95&title=0&byline=0" width="800" height="459" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<div class="close"></div>
</section>

 -->