
<div class="loader">
	<div class="dot"></div>
</div>

<section class="container intro" data-magellan-destination="intro">
	<!-- <div class="bgimage"></div> -->
	<div class="row">
		<div class="medium-5 columns">
			<h1 class="icon-logo"></h1>
		</div>
		<div class="medium-7 columns">
			<h2>A chair designed<br/>for musicians</h2>
		</div>
		<ul class="bg">
			<li class="active" style="background-image: url('img/intro4.jpg');"></li>
			<li style="background-image: url('img/intro2.jpg');"></li>
			<li style="background-image: url('img/intro1.jpg');"></li>
			<li style="background-image: url('img/intro3.jpg');"></li>
		</ul>
	</div>
</section>



<!-- PROBLEM -->
<section class="container problem" data-magellan-destination="problem">
	<div class="row" id="problem">
		<h4 class="title">Problem</h4>

		<ul>
			<li class="prob active">
				<div class="active">
					<div>
						<h1>70% of musicians experience pain or injury.</h1>
						<div class="bg" style="background: url('img/problem1.jpg') center center no-repeat;"></div>
						<a href="#" class="process">See the Process</a>
					</div>
				</div>
				<div>
					<div>
						<h2>&ldquo;Musicians suffer for their Art, but unnecessary suffering inhibits Art&rdquo; <span>Dr. Gear&oacute;id &Oacute; Conchubhair</span></h2>
						<div class="bg" style="background: url('img/problem2.jpg') top center no-repeat;"></div>
						<a href="#" class="process">See the Process</a>
					</div>
				</div>
			</li>
			<li class="process">
				<ul class="nav">
					<li class="active"><a href="#">Posture</a></li>
					<li><a href="#">Angle</a></li>
					<li><a href="#">Pressure</a></li>
				</ul>
				<ul class="content">
					<li class="active">
						<p>Musicians from all seated portions of orchestra were observed while using existing chairs, followed by development rigs.</p>
						<div><img src="img/process1.jpg" alt=""></div>
					</li>
					<li>
						<p>A test rig with adjustable seat plates was used to determine optimal seat angles across the the range of musicians.</p>
						<div><img src="img/process2.jpg" alt=""></div>
					</li>
					<li>
						<p>Seat pressure testing was used to determine the effect of various seat angles on posture and weight transfer of musicians.</p>
						<div><img src="img/process3.jpg" alt=""></div>
					</li>
				</ul>
			</li>
		</ul>

	</div>
</section>



<!-- PRINCIPLES -->
<section class="container principles" data-magellan-destination="principles">
	<div class="row" id="principles">
		<h4 class="title">Principles</h4>
		<div class="bg" style="background: url('img/principles.jpg') center center no-repeat;"></div>
		<div class="info">
			<p>earó has been designed to provide a real benefit to the well being of musicians. The principles behind earó promote balanced seated postures, therefore reducing the potential for injuries in both practice and performance.</p><p>The 3  key principles are as follows:</p>
		</div>
		<ul class="nav">
			<li><a href="#">Elevation</a></li>
			<li><a href="#">Posture</a></li>
			<li><a href="#">Rotation</a></li>
		</ul>
		<ul class="singles">
			<li>
				<p>earó provides an elevated seat height which enables relaxed breathing, by raising the pelvis above the line of the knees.</p>
				<div><img src="img/principle1.jpg" alt=""></div>
			</li>
			<li>
				<p>earó allows for an open posture when seated, this in turn allows for a more dynamic attitude when seating during performance.</p>
				<div><img src="img/principle2.jpg" alt=""></div>
			</li>
			<li>
				<p>earó enables forward pelvic rotation when seated, which combined with the other elements allows for a grounded stance.</p>
				<div><img src="img/principle3.jpg" alt=""></div>
			</li>
		</ul>
	</div>
</section>


<!-- SOLUTION -->
<section class="container solution" data-magellan-destination="solution">
	<div class="row" id="solution">
		<h4 class="title">Solution</h4>
		<div class="bg" style="background:#ececec url('img/solution.jpg') center center no-repeat;"></div>
		<div class="info">
			<p>The earó chair sets a new standard in seating for musicians and provides the most ideal conditions for excellent performance. It accomadates the five main instrument groupings of the seated members of the orchestra: violin, viola, cello, wood wind, brass wind while also providing for the practical handling and staging conditions of the auditorium.</p>
		</div>
		<ul class="nav">
			<li><a href="#">Seatform</a></li>
			<li><a href="#">Ergonomic</a></li>
			<li><a href="#">Efficient</a></li>
		</ul>
		<ul class="singles">
			<li>
				<p>earó provides an elevated seat height which enables relaxed breathing, by raising the pelvis above the line of the knees.</p>
				<div><img src="img/solution1.jpg" alt=""></div>
			</li>
			<li>
				<p>earó provides an elevated seat height which enables relaxed breathing, by raising the pelvis above the line of the knees.</p>
				<div><img src="img/solution2.jpg" alt=""></div>
			</li>
			<li>
				<p>earó enables forward pelvic rotation when seated, which combined with the other elements allows for a grounded stance.</p>
				<div><img src="img/solution3.jpg" alt=""></div>
			</li>
		</ul>
	</div>
</section>


<!-- TEAM -->
<section class="container team" data-magellan-destination="team">
	<div class="row" id="team">
		<h4 class="title">Team</h4>
		<div class="row">
			<div class="medium-6 columns">
				<p>When designing earó, Dr Gearóid Ó Conchubhair consulted with 250 orchestra&rsquo;s from around the world to inform the design for a chair that would solve this problem. The developement of earó has been carried out by One Off Design Studio.</p>
			</div>
			<div class="medium-6 columns profiles">

				<img src="img/oneoff.jpg" alt="">

			</div>
		</div>
	</div>
</section>


<!-- SHOP -->
<section class="container shop" data-magellan-destination="shop">
	<div class="row" id="shop">
		<h4 class="title">shop</h4>
		<div class="medium-12 columns">
			<div class="row">
				<div class="info medium-6 columns">
					<h4>earó</h4>
					<p>Seat shell and backrest in steamed cherry veneer<br/>
					Kvadrat seat cushion upholstery<br/>
					Seatbase in powdercoated steel<br/>
					Seat height adjustable from 430&ndash;570mm<br/>
					Stackable 10 chairs per metre<br/>
					Standard chair weight 5.8kg<br/>
					Alternative colours &amp; fabrics on request</p>
					<div class="buttons">
						<a href="#." class="price">Available from October 2016</a>
						<!-- <a href="img/earo-brochure.pdf" class="buy">Brochure</a> -->
					</div>
				</div>
				<div class="medium-6 columns slides">
					<ul>
						<li class="active"><img src="img/earo1.jpg" alt=""></li>
						<li><img src="img/earo2.jpg" alt=""></li>
						<li><img src="img/earo3.jpg" alt=""></li>
						<li><img src="img/earo4.jpg" alt=""></li>
						<li><img src="img/earo5.jpg" alt=""></li>
						<li><img src="img/earo6.jpg" alt=""></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
