<div class="contain-to-grid fixed" data-magellan-expedition="active">
	
	<nav class="top-bar" role="navigation">
		<div class="row">

			<div class="medium-6 medium-offset-5 columns">
				<ul class="small-block-grid-4">
					<li data-magellan-arrival="design"><a href="#design">Design</a></li>
					<li data-magellan-arrival="the-chair"><a href="#the-chair">The Chair</a></li>
					<li data-magellan-arrival="kickstarter"><a href="#kickstarter">Kickstarter</a></li>
					<li data-magellan-arrival="supporters"><a href="#supporters">Supporters</a></li>
					<li class="hide" data-magellan-arrival="buy"><a href="#">Buy</a></li>
				</ul>
			</div>

			<div class="medium-1 columns social">
				<ul class="small-block-grid-3">
					<li><a href="#" class="icon-twitter"></a></li>
					<li><a href="#" class="icon-facebook"></a></li>
					<li><a href="#" class="icon-kickstarter"></a></li>
				</ul>
			</div>

		</div>
	</nav>
</div>